<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Laiba's Blog</a></h1>
        </header>

        {% for post in posts %}
        <article>
            <br> 
            <h2><a href="">{{ post.title }}</a></h2>
            <time>Published: {{ post.published_date }}</time>
            <p>{{ post.text|linebreaksbr }}</p>
            <br>
        </article>
    
    {% endfor %}
       
    </body>
</html>